*{
  font-family: "Lexend Deca", sans-serif;
}
.upload-container{
  width: 100%;
  height: 70%;
  background: var(--inverseOnSurface);
  padding: 20px;

  .upload-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.upload-body{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--inverseOnSurface);
  border-radius: 10px;
  border: 2px dashed var(--onSurface);
}
.file-input{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-upload{
  width: 100px;
  height: 100px;
}
.upload-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-footer{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.small-cropper {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  overflow: hidden;

  .cropper-container {
    max-width: 515px;
    max-height: 700px;
    width: auto !important;
    height: 100% !important;
    margin: 0 auto;
  }

  .background {
    max-width: 100%;
    height: auto;
    background-size: contain !important;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}


ngx-smart-cropper{
  background-size: 608px auto !important;
  background-repeat: no-repeat !important;
}
