<div class="upload-container">
  <div class="upload-header">
    <h4>Upload Photo</h4>
<!--    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="onClose()">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
  </div>

  <div class="upload-body">
  <div class="file-input">
    <!-- Display this block when no image is uploaded -->
    <div *ngIf="!imageSource" class="upload-description" (click)="fileInput.click()">
      <img
        class="icon-upload"
        src="https://cdn-icons-png.flaticon.com/512/4725/4725573.png"
        alt="Upload Logo"
      />
      <p>Click here to select an image</p>
      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        style="display: none;"
      />
    </div>

    <!-- Display this block when an image is selected -->
    <ngx-smart-cropper class="small-cropper"
                       *ngIf="imageSource"
                       [imageType]="'webp'"
                       [theme]="'mixed'"
                       [imageSource]="imageSource"
                       (imageCroppedEvent)="imageCropped($event)"
                       [style.transform]="'scale(' + transform.scale + ')'"
    ></ngx-smart-cropper>

  </div>

</div>

  <div class="upload-footer">
    <button mat-raised-button color="primary" (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>Zoom In
    </button>
    <button mat-raised-button color="primary" (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>Zoom Out
    </button>
    <button mat-raised-button color="warn" (click)="onClose()"><mat-icon>cancel</mat-icon>Cancel</button>
    <button mat-raised-button color="primary" (click)="uploadImage()">	<mat-icon>cloud_upload</mat-icon>Upload</button>
  </div>
</div>


