<button class="content-option">
  <div class="content-header">
    <mat-icon>school</mat-icon>
    <span>Education</span>
  </div>
  <p>Show off your primary education, college degrees & exchange semesters.</p>
</button>

<!--      <button class="content-option"><mat-icon> insert_drive_file</mat-icon>Certificates-->
<!--        <p>Drivers licenses and other industry-specific certificates you have belong here.</p>-->
<!--      </button>-->
<!--      <button class="content-option"><mat-icon>work</mat-icon>Professional Experience-->
<!--      <p>A place to highlight your professional experience - including internships.</p>-->
<!--      </button>-->
<!--      <button class="content-option"><mat-icon>accessible_forward</mat-icon>Skills-->
<!--      <p>List your technical, managerial or soft skills in this section.</p>-->
<!--      </button>-->
<!--      <button class="content-option"><mat-icon>language</mat-icon>Languages-->
<!--      <p>You speak more than one language? Make sure to list them here.</p>-->
<!--      </button>-->
<!--      <button class="content-option">	<mat-icon> attach_file</mat-icon>Projects-->
<!--      <p>Worked on a particular challenging project in the past? Mention it here.</p>-->
<!--      </button>-->
<!--      <button class="content-option"><mat-icon>stars</mat-icon>Awards-->
<!--      <p>Awards like student competitions or industry accolades belong here.</p>-->
<!--      </button>-->
<!--      <button class="content-option"><mat-icon>card_membership</mat-icon>Organisations-->
<!--      <p>If you volunteer or participate in a good cause, why not state it?</p>-->
<!--      </button>-->
<!--      <button class="content-option">	<mat-icon>recent_actors</mat-icon>Publications-->
<!--        Academic publications or book releases have a dedicated place here.-->
<!--      </button>-->
