.dialog{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--inverseOnSurface);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.content-dialog {
  width: 100%;
  background: var();
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-dialog h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Lexend Deca', sans-serif;
}

.content-dialog p {
  font-size: 18px;
  color: var(--onSurface);
}

.content-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
}




.content-button p {
  font-size: 14px;
  color: var(--onSurfaceVariant);
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.actions button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--onPrimary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.actions button:hover {
  background-color: var(--primaryContainer);
}


.dialog-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.close-btn{
  font-size: 24px;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.title{
  display: flex;
  gap: 10px;

  h2{
    font-size: 30px;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
  }
}
