<div class="dialog">
    <div class="dialog-header">
      <div class="title">
        <h2>Content</h2>
      </div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="dialog-description">Quick start (signup required):</p>

    <!-- Content Options -->
    <div class="options">
      @for (content of contentAdd; track $index) {
        <app-content-option-add [content]="content"  (click)="select(content)"></app-content-option-add>
      }
    </div>
    <!-- Footer -->
    <div class="footer">
      <button mat-stroked-button (click)="onClose()">Cancel</button>
      <button mat-flat-button (click)="onSave()">Add</button>
    </div>
  </div>

