

<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="selectedContent; else mainContent">
  <app-content-form
    *ngIf="isLargeForm(selectedContent)"
    (cancel)="backToInput(false)"
    [selectedContentName]="selectedContent"
    (save)="onSaveItem($event)">
  </app-content-form>

  <app-content-form-small
    *ngIf="!isLargeForm(selectedContent)"
    (cancel)="backToInput(false)"
    [selectedContentName]="selectedContent"
    (save)="onSaveItem($event)">
  </app-content-form-small>
</ng-container>

<ng-template #mainContent>
  <ng-container *ngrxLet="resume$ as data">
    <app-inputcontent
      *ngIf="!showEdit && !isLoading"
      [resume$]="resume$"
      [showInfoAdded]="showInfoAdded"
      (editContent)="editFromItem($event)"
      (switchToEdit)="switchToEdit()">
    </app-inputcontent>


    <app-edit-details
      *ngIf="showEdit && !isLoading"
      [resume$]="resume$"
      (back)="backToInput(false)">
    </app-edit-details>
  </ng-container>
</ng-template>
