<app-download-box></app-download-box>

<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngrxLet="resume$ as data">
  <app-inputcontent
    *ngIf="!showEdit && !isLoading"
    [resume$]="resume$"
    (switchToEdit)="switchToEdit()">
  </app-inputcontent>

  <app-edit-details
    *ngIf="showEdit && !isLoading"
    [resume$]="resume$"
    (back)="backToInput()">
  </app-edit-details>
</ng-container>

<app-content-form></app-content-form>
<app-content-form-small></app-content-form-small>
