<div class="login-container">
  <div class="login-box">
    <div class="login-left">
      <img src="https://prod.flowcvassets.com/resume-templates/wk78myowij2vvh1gy8l-s/2560.webp" alt="CV Preview" />
    </div>
    <div class="login-right">
      <h1>Build Futuristic Resumes with the Power of <span>EasyCV</span></h1>
      <p>Creative templates. Tech-driven customization. All for free.</p>
      <button (click)="login()" class="login-button">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png" width="20" />
        Login with Google
      </button>
    </div>
  </div>
</div>
