/* Định nghĩa biến global */
:root {
  --surfaceContainer: #ffffff;
  --background: #fff5f7;
  --text-color: #333333;
  --border-color: #ddd;
}

/* Container chính */
.container {
  border: 1px solid var(--border-color);
  border-radius: 8px;
//padding: 10px;
  background: var(--background);
  width: 100%;
  margin-bottom: 20px;

}

/* Panel mở rộng */
mat-expansion-panel {
  padding: 3px;
  //width: 100%;
  box-shadow: none;
  min-height: 50px;

  border-radius: 15px;
  background: var(--surfaceContainer);
}

/* Header của panel */
mat-expansion-panel-header {
  padding: 10px;
  background: var(--surfaceContainer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-panel-title {
  display: flex;
  align-items: center;
  color: var(--text-color);

  mat-icon {
    margin-right: 8px;
  }
}

mat-action-row {
  margin-left: auto;

  button {
    color: #6b4e71;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}


.item-list-container {
  padding: 10px 0;
  background: var(--surfaceContainer);
}

/* Card item */
.item-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--background);
  margin-bottom: 12px;
  color: var(--onBackground);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .info-content {
    flex: 1;
    margin-right: 16px;

    .top-line {
      font-weight: bold;
      margin-bottom: 4px;
    }

    .meta {
      font-size: 0.875rem;
      margin-bottom: 4px;
      color: var(--onBackground);
    }

    .description {
      font-size: 0.875rem;
      color: #333;

      span{
        max-width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        color: var(--onBackground);
      }
    }

  }

  .action-icons {
    display: flex;
    align-items: center;

    gap: 8px;

    .preview-icon {
      cursor: pointer;
    }

    button {
      padding: 0;
    }
  }
}

