<div class="resume-header">
  <div class="resume-title-container">
    <!-- VIEW MODE -->
    <ng-container *ngIf="!editing; else editMode">
      <span class="title-text">{{ resumeName || 'Untitled Resume' }}</span>
      <button mat-icon-button class="icon-btn" (click)="startEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>

    <!-- EDIT MODE -->
    <ng-template #editMode>
      <input
        type="text"
        [(ngModel)]="resumeName"
        class="title-input"
        placeholder="Enter resume name..."
        #titleInput
        (keydown.enter)="save()"
      />
      <div class="action-group">
        <button mat-button color="primary" class="btn save" (click)="save()">Save</button>
        <button mat-button class="btn cancel" (click)="cancel()">Cancel</button>
      </div>
    </ng-template>
  </div>

  <button mat-button class="download-btn" (click)="downloadPDF()">
    <mat-icon>cloud_download</mat-icon> Download PDF
  </button>




</div>
