
<div class="app-container">
  <!-- Cột 1: Menu bên trái, cố định -->
  <div class="column1" >
    <app-side-nav></app-side-nav>
    <!-- <app-button-theme-mode></app-button-theme-mode> -->
  </div>

  <!-- Cột 2: Khu vực chính (chứa router-outlet), cuộn độc lập -->
  <div class="column2">
    <app-download-box *ngIf="activeLink !== '' && !isHome()"></app-download-box>
    <router-outlet></router-outlet>
  </div>

  <!-- Cột 3: Khu vực phụ, cuộn độc lập, chỉ hiển thị khi không ở trang chủ -->
  <div class="column3" *ngIf="activeLink !== '' && !isHome()">
    <app-cv></app-cv>
  </div>
</div>
