
.app-container {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden; // Ngăn cuộn trên toàn bộ container
}

.column1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  padding: 2% 0 0 2%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.column2 {
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 2% 2% 0 0;
  border-radius: 10px;



  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.column3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 2% 2% 2% 0;
  border-radius: 10px;


  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}


.column2:has(+ .column3) {
  width: 38%;
  margin-right: 0;
}
