

  <div class="container">
    <header>
      <p class="header-content">Edit personal details</p>
      <div class="help">📑 Need help?</div>
    </header>

    <form class="form">
      <div class="years">
        <div class="input-info">
        <div class="row">
        <label>Full name</label>
        <input type="text" placeholder="Enter your title, first– and last name" />
      </div>

      <div class="row">
        <label>Job title <span class="optional">optional</span></label>
        <input type="text" placeholder="Enter Job title" />
      </div>
      </div>

        <div class="upload-container-edit" (click)="openCooperDialog()">
          <img *ngIf="croppedImage" [src]="croppedImage" alt="Cropped Image" class="uploaded-image"/>
          <div class="upload-placeholder" *ngIf="!croppedImage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbaJBuUM3ZBM8whxMTTwQRPePVY4-JT9zxHQ&s" class="placeholder-img" alt="Add Content" />
          </div>
        </div>
      </div>


      <div class="row two-cols">
        <div>
          <label>Email <span class="recommended">recommended</span></label>
          <input type="email" placeholder="Enter email" />
        </div>
        <div>
          <label>Phone <span class="recommended">recommended</span></label>
          <input type="text" placeholder="Enter Phone" />
        </div>
      </div>

      <div class="row">
        <label>Location <span class="recommended">recommended</span></label>
        <input type="text" placeholder="City, Country" />
      </div>

      <p class="header-content">Personal information</p>
      <div class="tags">
        <span>+ Date of Birth</span>
        <span>+ Nationality</span>
        <span>+ Passport or Id</span>
        <span>+ Marital status</span>
        <span>+ Military Service</span>
        <span>+ Driving License</span>
        <span>+ Gender/Pronoun</span>
        <span>+ Visa</span>
      </div>

      <p class="header-content">Links</p>
      <div class="tags">
        <span>+ Website</span>
        <span>+ LinkedIn</span>
        <span>+ GitHub</span>
        <span>+ Medium</span>
        <span>+ ORCID</span>
        <span>+ Skype</span>
        <span>+ Bluesky</span>
        <span class="view-all">View all</span>
      </div>

      <div class="actions">
        <button type="button" class="cancel" (click)="onCancel() ">Cancel</button>
        <button type="submit" class="save" (click)="onSave()" >✔ Save</button>
      </div>
    </form>
  </div>

