

  <div class="container">
    <header>
      <p class="header-content">Edit personal details</p>
      <div class="help">✍️ Need help?</div>
    </header>

    <form [formGroup]="form" class="form">
      <div class="years">
        <div class="input-info">
        <div class="row">
        <label>Full name</label>
        <input type="text" placeholder="Enter your title, first– and last name" formControlName="full_name" (keydown)="isTyping = true"/>
      </div>

      <div class="row">
        <label>Job title <span class="optional">optional</span></label>
        <input type="text" placeholder="Enter Job title" formControlName="job_title" (keydown)="isTyping = true"/>
      </div>
      </div>

        <div class="upload-container-edit" (click)="openCooperDialog()">
          <img *ngIf="form.get('avatar_url')?.value" [src]="form.get('avatar_url')?.value" alt="Cropped Image" class="uploaded-image"/>

          <div class="upload-placeholder" *ngIf="!form.get('avatar_url')?.value">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbaJBuUM3ZBM8whxMTTwQRPePVY4-JT9zxHQ&s" class="placeholder-img" alt="Add Content" />
          </div>
        </div>
      </div>


      <div class="row two-cols">
        <div>
          <label>Email <span class="recommended">recommended</span></label>
          <input type="email" placeholder="Enter email" formControlName="email" (keydown)="isTyping = true"/>
        </div>
        <div>
          <label>Phone <span class="recommended">recommended</span></label>
          <input type="text" placeholder="Enter Phone" formControlName="phone"  (keydown)="isTyping = true"/>
        </div>
      </div>

      <div class="row">
        <label>Location <span class="recommended">recommended</span></label>
        <input type="text" placeholder="City, Country" formControlName="location" (keydown)="isTyping = true"/>
      </div>

      <p class="header-content">Personal information</p>
      <div class="tags">
        <button>+ Date of Birth</button>
        <button>+ Nationality</button>
        <button>+ Passport or Id</button>
        <button>+ Marital status</button>
        <button>+ Military Service</button>
        <button>+ Driving License</button>
        <button>+ Gender/Pronoun</button>
        <button>+ Visa</button>
      </div>

      <p class="header-content">Links</p>
      <div class="tags">
        <button>+ Website</button>
        <button>+ LinkedIn</button>
        <button>+ GitHub</button>
        <button>+ Medium</button>
        <button>+ ORCID</button>
        <button>+ Skype</button>
        <button>+ Bluesky</button>
        <button class="view-all">View all</button>
      </div>

      <div class="actions">
        <button mat-stroked-button (click)="onCancel()" >Cancel</button>
        <button mat-flat-button (click)="onSave()" >  ✔ Save</button>
      </div>
    </form>
  </div>

