
/* cv.component.scss */
.cv-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;




.cv{
  width: 794px;
  max-width:794px;
  height: 1123px;
  max-height: 1123px;
  background: white;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  page-break-before: always;
  flex-shrink: 0;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.5;
  margin-bottom: 20px;

  h2{
    color: black;
  }
  mat-card-subtitle{
    color: black;
  }

  p{
    display: flex;
    align-items: center;
    //gap: 5px;
    color: black;
    font-size: 13px;
    margin: 0;

    mat-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;


    }
  }



  p span{
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
}

.personal-info-cv{
  display: flex;
  margin-bottom: 10px;
  color: black;
  gap: 10px;

 div{

   display: flex;
   font-size: 13px;
 }
}

.avatar-container{
width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }



}
.info-binding{
    display: flex;
    flex-direction: row;
}


.links-container {
  margin-top: 16px;
}

.links {
  padding: 0;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-item-container {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.link-item{
  display: flex;
  align-items: center;
  gap: 2px;
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.link-item i {
  font-size: 16px;
}

