<div class="cv-container" >
  <div class ="cv" *ngrxLet="resume$ as data">
    <h2>{{ data?.full_name }}</h2>
    <h4>{{ data?.job_title}}</h4>

    <p *ngIf="data?.email">
      <span>📩{{ data?.email }}</span>
    </p>

    <p *ngIf="data?.phone">
      <span>📱 {{ data?.phone }}</span>
    </p>

    <p *ngIf="data?.location">
      <span>📍 {{ data?.location }}</span>
    </p>

    <div class="avatar-container">
      <img *ngIf="data?.avatar_url" [src]="data?.avatar_url" alt="Avatar" class="avatar-image"/>
    </div>

  </div>
</div>
