<div class="cv-container" >
  <div class ="cv" *ngrxLet="resume$ as data">
    <h2>{{ data?.full_name }}</h2>
    <mat-card-subtitle>{{ data?.job_title}}</mat-card-subtitle>

    <p *ngIf="data?.email">
      <span>	<mat-icon> email</mat-icon>{{ data?.email }}</span>
    </p>

    <p *ngIf="data?.phone">
      <span>	<mat-icon> phone</mat-icon> {{ data?.phone }}</span>
    </p>

    <p *ngIf="data?.location">
      <span>	<mat-icon> location_on</mat-icon>{{ data?.location }}</span>
    </p>

    <div class="avatar-container">
      <img *ngIf="data?.avatar_url" [src]="data?.avatar_url" alt="Avatar" class="avatar-image"/>
    </div>

  </div>
</div>
