body {
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 20px;
  border-radius: 8px;
}

p {
  color: var(--onBackground);
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  color: var(--onBackground);

  margin-bottom: 20px;
  font-family: 'Lexend Deca', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: start;
}

.resume-card {
  //background-color: var(--onBackground);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  min-width: 230px;
  min-height: 380px;
  display: flex;
  color: var(--onBackground);
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.resume-card img {
  width: 100%;

  height: auto;
  object-fit: cover;
}

.new-resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #999;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
  max-height: 475px;
  color: var(--onBackground);
  border-radius: 8px;
  text-align: center;
}

.new-resume:hover {
  color: var(--background);
  background-color: gray;
}

.resume-card:hover {
  color: var(--onBackground) ;
  background-color: var(--onSurfaceVariant);
}

.caption {
display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume-card:hover .caption {
  color: var(--background);
}
.new{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--onBackground);
}


.new:hover {
  color: var(--background);
}

.caption-btn{
  color: red;
  padding: 1px;
  font-size: 12px;

  text-decoration: none;
  //cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 100px;
  background: none;
  border: 1px solid red;
  border-radius: 4px;
}
.caption-btn:hover {
  color: var(--background);
  background-color: red;
}

.caption-text{
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  color: var(--onBackground);
}
