<div class="drawer">
<img src="../../../assets/logos/LIGHT.png" class="logo">
  @for (item of menuItems; track $index) {
    <button mat-button class="menu-buttons" [ngClass]="{'active': selectedMenu === item.route}" (click)="selectedMenu = item.route" [routerLink]="item.route">
      <mat-icon>{{ item.icon }}</mat-icon>{{ item.label }}</button>
  }


  <hr>
  <button mat-button class="menu-buttons" [ngClass]="{'active': selectedMenu === 'account'}" (click)="login()" >
    @if (currentUsers != null){
      <div class="avatar-container">
        <img src="{{currentUsers.photoURL}}" alt="Login" class="avatar" (error)="onImageError($event)">
<!--        <p class="nameAcc">{{currentUsers.displayName}}</p>-->
      </div>
    } @else {
      <div class="avatar-container1"><mat-icon>account_circle</mat-icon><p>Login</p></div>
    }
  </button>
  <button *ngIf="currentUsers != null" mat-button class="menu-buttons" [ngClass]="{'active': selectedMenu === 'logout'}" (click)="logout()">
    <mat-icon>logout</mat-icon>Logout
  </button>
</div>

